flows_blinds.json.json
[{"id":"f7fc418c.cfb87","type":"tab","label":"TAP_TASMOTA_NEW","disabled":false,"info":""},{"id":"24390b5b.27af0c","type":"debug","z":"f7fc418c.cfb87","name":"Connect to the MQTT out node","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":680,"wires":[]},{"id":"60af842a.fefa24","type":"debug","z":"f7fc418c.cfb87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1140,"y":760,"wires":[]},{"id":"d07293b5.f0dca8","type":"debug","z":"f7fc418c.cfb87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":720,"wires":[]},{"id":"9b397784.19aec8","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"domoticz/out","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":110,"y":500,"wires":[["fc3e677b.932b58"]]},{"id":"23bd17d4.5f355","type":"mqtt out","z":"f7fc418c.cfb87","name":"","topic":"","qos":"","retain":"","broker":"f0a64cae.6413e","x":1170,"y":600,"wires":[]},{"id":"c5922215.6e7e","type":"change","z":"f7fc418c.cfb87","name":"JSONata_blind","rules":[{"t":"set","p":"percentage","pt":"msg","to":"payload.svalue1","tot":"msg"},{"t":"set","p":"subscrive","pt":"msg","to":"payload.description","tot":"msg"},{"t":"set","p":"nvalue","pt":"msg","to":"payload.nvalue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["288a57a0.6f2be8"]]},{"id":"c8a8c611.cd99a","type":"function","z":"f7fc418c.cfb87","name":"percentage blind","func":"\ntopic = msg.subscrive.split(\":\")[1];\ntopic = topic.split('\"')[1];\n\nnum = msg.subscrive.split('\"blind\": ')[1];\nnum = num.split('}')[0];\n//msg.num = num ;   //mettere debug msg.num per vedere l'output\n\n//build message topic adding cmnd/<topic>/shutterposition <b>\nmsg.topic = \"cmnd/\" + topic + \"/shutterposition\" + num ;\n\n\n// rebuild the payload and append the svalue1 (percentage)\nmsg.payload = msg.payload.svalue1;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["24390b5b.27af0c","60af842a.fefa24","d07293b5.f0dca8","23bd17d4.5f355"]]},{"id":"fc3e677b.932b58","type":"switch","z":"f7fc418c.cfb87","name":"","property":"payload.description","propertyType":"msg","rules":[{"t":"cont","v":"topic","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":520,"wires":[["c5922215.6e7e"],[]]},{"id":"28dec561.ed099a","type":"inject","z":"f7fc418c.cfb87","name":"domoticz con \\","topic":"","payload":"{\"Battery\":255,\"RSSI\":12,\"description\":\"{\\\"topic\\\": \\\"tasmota_esp32\\\", \\\"blind\\\": 1}\",\"dtype\":\"Light/Switch\",\"hwid\":\"6\",\"id\":\"00014117\",\"idx\":199,\"name\":\"tap1_esp32\",\"nvalue\":2,\"stype\":\"Switch\",\"svalue1\":\"74\",\"switchType\":\"Blinds Percentage Inverted\",\"unit\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["fc3e677b.932b58"]]},{"id":"eb4db66f.5a2f78","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_blind_new/SHUTTER1","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":160,"y":200,"wires":[["f2fc4148.2c76a8"]]},{"id":"f2fc4148.2c76a8","type":"function","z":"f7fc418c.cfb87","name":"blind1","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":199,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["bbcc1649.5451c8","2e854c4a.f142fc"]]},{"id":"bbcc1649.5451c8","type":"debug","z":"f7fc418c.cfb87","name":"TEST","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":260,"wires":[]},{"id":"2e854c4a.f142fc","type":"mqtt out","z":"f7fc418c.cfb87","name":"domoticz/in","topic":"","qos":"","retain":"","broker":"f0a64cae.6413e","x":830,"y":180,"wires":[]},{"id":"97a4c0cc.2f4e4","type":"comment","z":"f7fc418c.cfb87","name":"from Tasmota to Domoticz","info":"copy here EVERY topic (%topic%) of tasmota device that you want to control and EVERY number of shutter at the end (SHUTTER<x>)\n\ninisde fuction blind<x> update the conresponded domoticz IDX<x> ","x":530,"y":100,"wires":[]},{"id":"535ae8ed.d6cd9","type":"comment","z":"f7fc418c.cfb87","name":"From Domoticz to Tasmota","info":"\nfor every blind:\ninside domoticz description fild write:\n{\"topic\": \"tasmota_blind_new\", \"blind\": 1}\ntopic=topic name of tasmota\nblind= blind number assigned by tasmota\n\n\nfor master blind:\ninside domoticz master blind description field wrote:\n\n{ \"slaves\" : [ \"tap1_esp32\", \"tap2_esp32\", \"tap3_esp32\", \"tap4_esp32\" ] }\n","x":470,"y":480,"wires":[]},{"id":"e5569880.76fb28","type":"comment","z":"f7fc418c.cfb87","name":"INFO","info":"rules on tasmota:\n\nrule1 on switch1#state=2 do backlog ShutterStop1; ShutterChange1 3 endon on switch1#state=3 do ShutterOpen1 endon\non switch2#state=2 do backlog ShutterStop1; ShutterChange1 -3 endon on switch2#state=3 do ShutterClose1 endon\non switch3#state=2 do backlog ShutterStop2; ShutterChange2 3 endon on switch3#state=3 do ShutterOpen2 endon\non switch4#state=2 do backlog ShutterStop2; ShutterChange2 -3 endon on switch4#state=3 do ShutterClose2 endon\n\nrule2 on switch5#state=2 do backlog ShutterStop3; ShutterChange3 3 endon on switch5#state=3 do ShutterOpen3 endon on switch6#state=2 do backlog ShutterStop3; ShutterChange3 -3 endon on switch6#state=3 do ShutterClose3 endon on switch7#state=2 do backlog ShutterStop4; ShutterChange4 3 endon on switch7#state=3 do ShutterOpen4 endon on switch8#state=2 do backlog ShutterStop4; ShutterChange4 -3 endon on switch8#state=3 do ShutterClose4 endon \n\ndomoticz controls:\nnValue = 0 -->> Closed\nnValue = 1 -->> Opened\nnValue = 2 -->> level = sValue","x":510,"y":60,"wires":[]},{"id":"28c1ad58.7707fa","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_blind_new/SHUTTER2","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":160,"y":240,"wires":[["84485fef.c8d0e8"]]},{"id":"84485fef.c8d0e8","type":"function","z":"f7fc418c.cfb87","name":"blind2","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":200,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["2e854c4a.f142fc"]]},{"id":"a73313c2.112cf8","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_esp32/SHUTTER1","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":150,"y":300,"wires":[["9f5185b4.b0bf48"]]},{"id":"dc4e1c98.b3e238","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_esp32/SHUTTER2","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":150,"y":340,"wires":[["9b9fc58a.3ab3f8"]]},{"id":"93c9c81f.373c08","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_esp32/SHUTTER3","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":150,"y":380,"wires":[["d9751db3.7da85"]]},{"id":"42b0e07d.ab9478","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_esp32/SHUTTER4","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":150,"y":420,"wires":[["2b0876f6.4bf6f2"]]},{"id":"9f5185b4.b0bf48","type":"function","z":"f7fc418c.cfb87","name":"blind1","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":204,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["2e854c4a.f142fc"]]},{"id":"9b9fc58a.3ab3f8","type":"function","z":"f7fc418c.cfb87","name":"blind2","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":205,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["2e854c4a.f142fc"]]},{"id":"d9751db3.7da85","type":"function","z":"f7fc418c.cfb87","name":"blind3","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":206,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["2e854c4a.f142fc"]]},{"id":"2b0876f6.4bf6f2","type":"function","z":"f7fc418c.cfb87","name":"blind4","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":207,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["2e854c4a.f142fc"]]},{"id":"288a57a0.6f2be8","type":"switch","z":"f7fc418c.cfb87","name":"nValue=0-->Closed nValue=1-->>Opened nValue=2-->>level=sValue","property":"nvalue","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":600,"wires":[["7bcba19b.b316b"],["73a54a03.08fa9c"],["c8a8c611.cd99a"]]},{"id":"73a54a03.08fa9c","type":"function","z":"f7fc418c.cfb87","name":"open blind","func":"\ntopic = msg.subscrive.split(\":\")[1];\ntopic = topic.split('\"')[1];\n\nnum = msg.subscrive.split('\"blind\": ')[1];\nnum = num.split('}')[0];\n//msg.num = num ;   //mettere debug msg.num per vedere l'output\n\n//build message topic adding cmnd/<topic>/shutterposition <b>\nmsg.topic = \"cmnd/\" + topic + \"/shutterOpen\" ;\n\n\n// rebuild the payload and append the svalue1 (percentage)\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["23bd17d4.5f355"]]},{"id":"7bcba19b.b316b","type":"function","z":"f7fc418c.cfb87","name":"close blind","func":"\ntopic = msg.subscrive.split(\":\")[1];\ntopic = topic.split('\"')[1];\n\nnum = msg.subscrive.split('\"blind\": ')[1];\nnum = num.split('}')[0];\n//msg.num = num ;   //mettere debug msg.num per vedere l'output\n\n//build message topic adding cmnd/<topic>/shutterposition <b>\nmsg.topic = \"cmnd/\" + topic + \"/shutterClose\" ;\n\n\n// rebuild the payload and append the svalue1 (percentage)\nmsg.payload = num;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["23bd17d4.5f355"]]},{"id":"66f8240.6bb92dc","type":"inject","z":"f7fc418c.cfb87","name":"domoticz Close","topic":"","payload":"{\"Battery\":255,\"RSSI\":12,\"description\":\"{\\\"topic\\\": \\\"tasmota_blind_new\\\", \\\"blind\\\": 1}\",\"dtype\":\"Light/Switch\",\"hwid\":\"6\",\"id\":\"00014117\",\"idx\":199,\"name\":\"tap1_esp8266_new_ip57\",\"nvalue\":0,\"stype\":\"Switch\",\"svalue1\":\"100\",\"switchType\":\"Blinds Percentage Inverted\",\"unit\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["fc3e677b.932b58"]]},{"id":"ae4dd510.d21e4","type":"inject","z":"f7fc418c.cfb87","name":"domoticz Open","topic":"","payload":"{\"Battery\":255,\"RSSI\":12,\"description\":\"{\\\"topic\\\": \\\"tasmota_blind_new\\\", \\\"blind\\\": 1}\",\"dtype\":\"Light/Switch\",\"hwid\":\"6\",\"id\":\"00014117\",\"idx\":199,\"name\":\"tap1_esp8266_new_ip57\",\"nvalue\":1,\"stype\":\"Switch\",\"svalue1\":\"0\",\"switchType\":\"Blinds Percentage Inverted\",\"unit\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[["fc3e677b.932b58"]]},{"id":"86a38d18.3d1f4","type":"mqtt in","z":"f7fc418c.cfb87","name":"","topic":"stat/tasmota_blind/SHUTTER3","qos":"2","datatype":"json","broker":"f0a64cae.6413e","x":150,"y":140,"wires":[["5f446bec.5fafbc"]]},{"id":"5f446bec.5fafbc","type":"function","z":"f7fc418c.cfb87","name":"blind3","func":"//percentuale da JSON blind1\nvar p1 = msg.payload ;\nvar perc1 = '' + p1 + '' ;\n\n// rebuild the payload and append the nvalue\nmsg.payload = {\"idx\":171,\"nvalue\":2,\"svalue\": perc1} ;\n\nmsg.topic = \"domoticz/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["2e854c4a.f142fc"]]},{"id":"f0a64cae.6413e","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.0.105","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]